
.card{
    width: 80%;
    text-align: center;
    background-color: rgb(87, 62, 47);
    border-radius: 30px;
    text-decoration: none;
    padding-bottom: 20px;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
    color: black;
}

.preguntas{
    background-color: antiquewhite;
    border-radius: 15px;
    width: 100%;
    padding: 1em;
}
